html, body {
    height: 100%;
    width: 100%
}


#grid-container {
    position: relative;
    display: grid;
    left: 30%;
    top: 30%;
    width: 200px;
    height: 200px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cell {
    border: 1px solid #000000;
}

.next-player {
    background-color: inherit;
    border: none;
}

.next-player:hover{
    background: #eee;
}
