html, body {
    height: 100%;
    width: 100%
}


#grid-container {
    position: relative;
    display: grid;
    align: center;
    top: 10%;
    margin: auto;
    width: 75vmin;
    height: 75vmin;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cell {
    background-color: white;
    border: 1px solid #000000;
}

.cell:hover {
    filter: brightness(0.8)
}

.next-player {
    background-color: inherit;
    border: none;
}

.next-player:hover{
    background: #eee;
}

.next-generation {
    background-color: inherit;
    border: none;
}

.next-generation:hover{
    background: #eee;
}
