<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='gameviewstyle.css')}}">
        <title>Conway's Game of Life and Death</title>
    </head>
    <body>
        <h1>Conway's Game of Life and Death</h1>
        <p>A classic zero player simulation now adapted to incorporate a multiplayer aspect.</p>
        <p>Select a stage.</p>
        <div id="stage-select">
            <button id='stage-one'>Stage One</button>
            <button id='stage-two'>Stage Two</button>
        </div>
        <script type='module' src="{{url_for('static', filename='main.js')}}"></script>
    </body>
</html>
