<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='stage_two.css')}}">
        <title>Conway's Game of Life and Death</title>
    </head>
    <body>
        <h1>Conway's Game of Life and Death</h1>
        <p>A classic zero player simulation now adapted to incorporate a multiplayer aspect.</p>
        <div id="stage-two">
            <p id="indicator"></p>
        </div>
        <div id='grid-container'></div>
    </body>
    <script type='module' src="{{url_for('static', filename='stage_two_startup.js')}}"></script>
</html>
